<!doctype html><html><head><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><title>mobile fixed layout</title><link rel="stylesheet" href="/dist/study/iScroll/css/iscroll_test.css"></head><body class=""><div id="index">
    <div id="status"></div>
    <input v-model="n">
    {{n}}
    <div id="scroll-container" style="height: 100px;background: lightblue;overflow: hidden">
        <div>
            <div v-for="i in getN">{{i}}</div>
        </div>
    </div>
    <div id="indicator" style="height: 100px;border: #000 1px solid">
        <div style="background: red;"></div>
    </div>
</div>
<script src="/lib/jquery/jquery-3.2.1.js"></script><script src="/lib/vue/vue.js"></script><script src="/lib/iScroll/iscroll-probe.js"></script><script src="/dist/study/iScroll/js/iscroll_test.js"></script></body></html>